
/* Responsive */
@media (min-width: 768px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .md\:block {
        display: block;
    }
    
    .md\:w-auto {
        width: auto;
    }
}

@media (max-width: 767px) {
    .max-w-4xl {
        max-width: 100%;
    }
}
